@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  background-color: red;
}

.header {
  background-color: black;
}

.container {
  width: 100%; /* Изменено */
  margin-left: 0; /* Изменено */
  margin-right: 0; /* Изменено */
}

.menu {
  display: flex;
  color: #ffffff;
  font-family: PT Sans;
  font-size: 14px;
  padding: 20px 0;
}

.menu__item {
  display: flex;
}

.menu__item-list {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.menu__link-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.menu__link-list a {
  color: #ffffff; /* белый цвет текста ссылки */
  text-decoration: none; /* убираем подчеркивание */
  transition: color 0.3s ease; /* плавное изменение цвета при наведении */
}

.menu__link-list a:hover {
  color: #ff0000; /* изменение цвета при наведении на ссылку */
}

.menu__link-list a:visited {
  color: #cccccc; /* цвет уже посещенной ссылки */
}

.menu__link-list a:focus, .menu__link-list a:active {
  outline: none; /* убираем рамку при фокусе или активации */
}
.menu__link-list1 {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.menu__link-list1 a {
  color: #ffffff; /* белый цвет текста ссылки */
  text-decoration: none; /* убираем подчеркивание */
  transition: color 0.3s ease; /* плавное изменение цвета при наведении */
}

.menu__link-list1 a:hover {
  color: #ff0000; /* изменение цвета при наведении на ссылку */
}

.menu__link-list1 a:visited {
  color: #ffffff; /* цвет уже посещенной ссылки */
}

.menu__link-list1 a:focus, .menu__link-list a:active {
  outline: none; /* убираем рамку при фокусе или активации */
}

.menu__item-image {
  padding-right: 70px;
}

a {
  text-decoration: none;
}

.logo{
  padding-left: 50px;
  font-size: 15px;
}

.logo_left {
  color: #ffffff;
}

.logo__end{
  font-size: 20px;
}

.logo_right {
  padding: 3px;
  border-radius: 3px;
  background: #ff0000;
  color: #ffffff;
}

.news {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: "a b c"
    "a d e";
  grid-gap: 20px;
  position: relative;
  flex-wrap: wrap;
  column-count: 3;
  grid-auto-flow: dense;
}

.news__image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.news__item {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  justify-content: flex-end;
}

.news__text-block {
  border: 10px solid #000; /* Добавление рамки */
}

.news__content h3 {
  font-size: 80px; /* Установка большого шрифта */
}

.news__content {
  text-align: center; /* Выравнивание текста по центру */
  padding-bottom: 110px;
}

.news__text-block a {
  color: #000000; /* белый цвет текста ссылки */
  text-decoration: none; /* убираем подчеркивание */
  transition: color 0.3s ease; /* плавное изменение цвета при наведении */
}

.news__text-block a:hover {
  color: #ff0000; /* изменение цвета при наведении на ссылку */
}

.news__text-block a:visited {
  color: #000000; /* цвет уже посещенной ссылки */
}

.news__text-block a:focus, .news__text-block a:active {
  outline: none; /* убираем рамку при фокусе или активации */
}


.cover {
  object-fit: cover;
  flex-basis: 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.news__item:nth-child(1) {
  height: 100%;
  grid-row: 2 span;
}

.footer {
  margin-top: 80px;
  background: #171717;
  position: relative;
}

.end__strock {
  padding-top: 60px;
}

.end__info {
  color: #CECECE;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.end__content {
  margin-top: 30px;
  width: 270px;
}

.end__socialnetwork {
  display: table;
  padding-top: 20px;
  padding-bottom: 111px;
}

.end__networktext {
  color: #FFF;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
}

.image__end {
  padding-top: 23px;
}

.end__network {
  padding-right: 15px;
}

.second__end {
  padding-top: 62px;
  display: flex;
  justify-content: space-between;
  margin-left: 0; /* Изменено */
  margin-right: 0; /* Изменено */
}

.second__textim1 {
  color: #FFF;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  flex-shrink: 0;
}

.second__textim {
  color: #FFF;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  flex-shrink: 0;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 2em;
  grid-gap: 17%;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
}

.end__item {
  display: flex;
  object-fit: cover;
  padding-bottom: 20px;
}

.finish__text {
  padding-right: 820px;
}

.footer__finish {
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}







/* Стили для мобильных экранов */
@media only screen and (max-width: 600px) {
  *{
font-family: 'Montserrat', sans-serif;
  }
  
  .header {
    white-space: nowrap;
  }

  .container {
    margin-right: 5%;
  }

  .menu {
    align-items: center;
    padding: 10px 0;
    display: flex;
    color: #ffffff;
    font-family: PT Sans;
    font-size: 18px;
}

.logo{
padding-right: 20px;
padding-left: 20px;
}

  .menu__link-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }

  .menu__item-image {
    display: none;
  }

  .logo_right {
    margin-top: 10px;
  }

  .news {
    display: flex;
    flex-direction: column;
  }

  .news__title{
    display: none;
  }

  .news__content{
    padding-bottom: 120px;
  }

  .news__text-block {
    margin-bottom: 20px;
    width: 100%;
  }

  .news__image img {
    width: 100%;
    height: auto;
  }

  h3 {
    padding-bottom: 100px;
  }

  .news__content {
    padding: 15px;
  }

  .footer {
    margin-top: 20px;
    padding: 20px 0;
  }

  .end__socialnetwork {
    padding-top: 20px;
  }

  .image__end {
    display: flex;
    gap: 10px;
  }

  .second__end {
    display: flex;
    padding-top: -162px;
    padding-right: 250px;
    padding-left: 100px; /* Добавлено */
  }

  .container .news__item:first-child {
    display: none;
  }

  .news__content {
    text-align: center; /* Выравнивание текста по центру */
    padding-bottom: 20px;
  }

  .news__content h3 {
    font-size: 58px;
}

  .second__content {
    text-align: center;
  }

  .second__textim1, .second__textim {
    text-align: center;
  }

  .menu__link-list1{
    display: none;
  }

  .end__socialnetwork {
    display: table;
    padding-top: 30px;
    padding-bottom: 50px;
  }

.second__end {
    display: none;
    padding-top: -162px;
    padding-left: 100px;
}

  .end__strock {
    padding-top: 0px; 
}

  .footer__top{
    padding-left: 5%;
    padding-right: 5%;
  }

  .finish__text {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    
  }
}
